*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
.container{
    background-color: rgb(255, 199, 125);
    min-height: 100vh;
    border: 10px solid orangered;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1{
    font-size: 46px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.top_section h4{
    font-size: 30px;
    text-align: end;
}

.image_container{
    border-radius: 50%;
    overflow: hidden;
}

.image_container, img{

    width: 300px;
    height: 300px;
}

.about_section{
    margin-top: 50px;
}

.about_section h2{
    font-size: 53px;
    font-weight: 400;
    margin-bottom: 30px;
}

.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.biography_section{
    margin: 50px 0;
}

.biography_section h3{
    margin-bottom: 30px;
}

.biography_section ul{
    margin-left: 50px;
}
.biography_section ul li{
    margin-bottom: 20px;
}

footer{
    margin: 50px 0;
}

footer p{
    text-align: end;
}